/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font faces */
@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-MediumItalic.ttf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Light-BETA.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
}
/* Typography */
body,
.nav-link {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #102224;
  margin-bottom: 0;
}
p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}
span.medium {
  font-family: "Poppins ", sans-serif;
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
span.medium {
  font-weight: 500;
}

h2 {
  font-family: "Poppins ", sans-serif;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  letter-spacing: -5%;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 1rem 0;
}
.small-text {
  max-width: 800px;
}
.number {
  font-size: 4rem;
  color: #31b15c;
  font-style: italic;
}
.product-name {
  font-size: 3rem;
  font-weight: 800;
}
.footer-text {
  font-size: 0.8rem;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.main {
  background: #102224;
}
/* Utility classes */
.gradient {
  background: linear-gradient(to right, #d4e972, #31b15c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.blue {
  color: #102224;
}

.green {
  color: #31b15c;
}
.max-width-block {
  max-width: 350px;
}
.max-width-block p {
  font-size: 0.8rem;
}

/* Navbar */
.nav-link:hover {
  opacity: 0.5;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-nav li {
  font-weight: 400;
}
.navbar-toggler {
  border: none;
}
.navbar-brand img {
  max-width: 100px;
}

.rights {
  font-size: 12px;
}
/* Buttons */
.btn-primary-1 {
  background: #31b15c;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  height: 3.2rem;
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary-1 a {
  text-decoration: none;
  color: white;
}
.btn-primary-1:hover {
  background-color: white;
  border: 1px solid #31b15c;
  color: #31b15c;
}
.btn-primary-1:hover a {
  color: #31b15c;
}
.btn-reservar {
  background-color: #102224;
  border: none;
  border-radius: 50px;
  color: white;
}

/* Forms */
input {
  background-color: white;
  border: none;
  border-radius: 50px;
  color: #102224;
  max-width: 65%;
}
input::placeholder {
  font-weight: 300;
  font-size: 14px;
}
label {
  color: white;
}
#reservationForm {
  width: 20%;
}
.subscribe-form {
  border-radius: 50px;
  display: flex;
  height: 3rem;
}
.subscribe-form input {
  border: 2px solid #31b15c;
  flex: 2;
  padding-left: 1rem;
  border-right: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  font-size: 16px;
  color: #102224;
  background-color: transparent;
}
.subscribe-form button {
  flex: 1;
  background-color: #31b15c;
  color: white;
  border: none;
  border-radius: 0 50px 50px 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Sections */
header {
  height: 60px;
  background-color: #102224;
}

.section-2 {
  background: #102224;
  padding: 6rem 24px;
  height: 110vh;
  position: relative;
  overflow: hidden;
}

.section-3 {
  height: 110vh;
  background: #31b15c;
  border-radius: 20px;
  padding: 6rem 24px;
  position: relative;
  overflow: hidden;
}
.section-4 {
  height: 115vh;
  background: #102224;
  padding: 6rem 24px;
  position: relative;
  overflow: hidden;
}
.section-5 {
  height: 90vh;
  background: white;
  padding: 6rem 24px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  overflow: hidden;
  border-bottom-right-radius: 0;
}
p {
  font-family: "Inter", sans-serif;
}

.form-container {
  background-color: #31b15c;
  height: 30rem;
  background: url("./images/rider.svg") no-repeat right;
}

/* Background text */
.background-text {
  max-width: 100%;
  font-size: 12rem;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Marquee */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marquee {
  display: flex;
  animation: marquee 25s linear infinite;
  color: #102224;
}
.marquee span {
  padding-right: 5vw;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  white-space: nowrap;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500x;
}

.components-white {
  position: absolute;
  bottom: 0;
  left: -20%;
}
.cyclist-big {
  position: absolute;
  bottom: 0;
  left: 40%;
}
.cyclist-small {
  position: absolute;
  bottom: 30%;
  left: -5%;
}
/* Animations */
.animated-section {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(50px);
}
.animated-section.visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.light {
  font-weight: 300;
}
/* Media queries */
@media (max-width: 991px) {
  .bike-white {
    position: absolute;
    bottom: 0;
    right: -20%;
  }
  .w-50 {
    width: 100% !important;
  }
  #reservationForm {
    width: 100%;
  }
  .background-text {
    font-size: 3rem;
  }
  .hero-image,
  .background-text {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  .photo-lg {
    display: none;
  }
  .photo-sm {
    display: block;
    transform: scaleX(-1);
  }
}
@media (min-width: 992px) {
  .w-50 {
    width: 50%;
  }
  .bike-white {
    position: absolute;
    bottom: 0;
    right: 5%;
  }
  .components-white {
    left: -2%;
    bottom: 0;
  }
  .cyclists-big {
    left: 60%;
    bottom: 0;
  }
  .section-2,
  .section-3,
  .section-4 {
    padding: 10rem;
  }
  .photo-lg {
    display: block;
  }
  .photo-sm {
    display: none;
  }
  .hero-container {
    height: calc(100vh - 110px);
  }

  .section-2,
  .section-3,
  .section-4 {
    height: 70vh;
  }
}
